[submodule "submodules/Arduino"]
	path = submodules/Arduino
	url = https://github.com/ncarrier/Arduino
[submodule "submodules/arduinoWebSockets"]
	path = submodules/arduinoWebSockets
	url = https://github.com/Links2004/arduinoWebSockets
